# Google Cloud Document AI Configuration for Vercel
# Copy these values into your Vercel Project Settings -> Environment Variables

GCP_PROJECT_ID=aireader-507611
GCP_PROJECT_NUMBER=976524610604
GCP_LOCATION=eu
GCP_PROCESSOR_ID=33d1dea3952e2d2c
GCP_CLIENT_EMAIL=vercel@aireader-507611.iam.gserviceaccount.com
GCP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
