# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing & Cache
.DS_Store
*.pem
*.key
*service_account*.json
*credentials*.json

# Next.js build output
.next/
out/
build/
dist/

# Environment files
.env
.env*.local

# Vercel
.vercel
